.prop-key-value-pair {
  display: flex;
  width: 30%;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
}
.prop-key-value-pair > .prop-key {
  flex-basis: 40%;
  text-align: right;
  margin-bottom: 0.5em;
}
.prop-key-value-pair > .prop-value {
  text-align: left;
  flex-basis: 30%;
  margin-bottom: 0.5em;
}