.property-section {
  display: flex;
  justify-content: space-between;
  padding: 2px 4px;
  background: #f5f7f9;
  border-left: 2px solid #69c;
}
.containe-props {
  text-align: left;
}
.item-props {
  text-align: left;
  width: 50%;
}

.prop-key-value-pair {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.prop-key-value-pair > .prop-key {
  width: 180px;
  text-align: left;
  margin-bottom: 0.5em;
}
.prop-key-value-pair > .prop-value {
  text-align: left;
  flex-basis: 60%;
  margin-bottom: 0.5em;
  display: flex;
  flex-flow: column wrap;
}

.flex-box {
  padding-top: 1em;
  background: #f5f7f9;
}
