.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 35px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
  align-self: center;
}

.Menu-bar {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.button {
  background-color: #9BC850;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0.5em 1em;
  text-align: center;
  flex: 0 1 6em;
}

.App-intro {
  font-size: large;
}
