.App {
  text-align: center;
}

.playground {
  width: 1366px;
  align-content: center;
  margin: 5px 10px;
}

.App-header {
  background-color: #222;
  height: 35px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
  align-self: center;
}

.App-intro {
  font-size: large;
}
